body{
  font-family: "Montserrat";
}


#title {
  color: #fff;
  background-color: #e84545;
}
h1{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15%;
}
.navbar{
  padding:0 0 4.5rem
}

/* navbar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px
}

.nav-link{
  font-size: 1.2rem;
}

/* download button */
.download-button{
  margin: 5% 3% 5%;
}
#features{
  color: #fff;
  background-color: #53354a;
  padding-top: 2rem;
  padding-left: .5rem;
  text-align: center;
  font-family: "Montserrat";
}


#testimonials{
  color: #fff;
  background-color: #903749;
  font-family: "Montserrat"
  padding: 7% 15%;
  text-align: center;
}

.goth{
  border-radius: 100%;
  width: 50%;
}
#press{
  background-color: #53354a;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
}
.press-logo{
  width: 20%
}

.textimonial-1{
  padding-left: 17px;
  text-align: center;
}
.testimonial-2{
  text-align: center;
  padding-right: 7px;
}

#pricing{
  text-align: center;
  background-color: #903749;
  color: #fff;
  font-family: "Montserrat";

}

#tiers{
  text-align: center;
  background-color: #903749;
  padding-top: 15px;

  font-family: "Montserrat";
}
.plans{
  padding-left: 1rem;
}
.price-copy{
  text-align: center;
}

.text-2{
  padding-bottom: 12px;
}

.text-1{
  padding-bottom: 27px;
}
.UwU{
  padding-bottom: 25px;
}

.sign-up{
  margin-bottom:5%
}
#cta{
  background-color: #e84545;
  color: #fff;
  text-align: center;
  padding-top: 4rem;
}

#footer{
  background-color: #e84545;
  color: #fff;
  font-family: "Ubuntu"
}
